---
import '../styles/global.css'
import Header from '@/components/Header/Header.astro'
import { TabBar } from '@/components/TabBar/TabBar'
import { useHydrationStore } from '@/stores/useHydrationStore'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title?: string
	tabBar?: boolean
	useTransitions?: boolean
	links?: astroHTML.JSX.LinkHTMLAttributes[]
}

const { props, cookies, url, request } = Astro
const { title, tabBar, useTransitions = true, links } = props
const { pathname } = url

/*
	Los scripts son para conseguir el mejor rendimiento posible en varias partes de la web.
	Se repite el código en el servidor y en los <script> para abarcar todo lo necesario para mejorar el rendimiento.

  Optimizaciones que generalmente mejoran el rendimiento, como:
		- no duplicar lógica entre el frontmatter y los <script>
		- middleware
		- is:inline
		- separar en archivos
	y otras más, acá suelen romper las soluciones aplicadas. ¡Cuidado con eso!

	Por ahora se logra:
		- [x] Cargar el estado del menú desde el primer momento
		- [x] Mantener el estado del menú entre páginas, evitando que se abra/cierra cuando no deba
		- [x] Detectar lo antes posible el tipo de dispositivo (los scripts cargan el primer valor y el servidor devuelve el guardado)
*/

// #region - detectDeviceType
const deviceCode = cookies.get('monado-device-type')?.value
const ua = request.headers.get('user-agent') || ''

const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
const tabletRegex = /(iPad|Android(?!.*mobile)|Kindle|Playbook|Silk|Tablet|hpw|webos|Nexus 7)/i

let detectedType = 'desktop'
if (mobileRegex.test(ua)) detectedType = 'mobile'
else if (tabletRegex.test(ua)) detectedType = 'tablet'

const devices: Record<string, string> = { M: 'mobile', T: 'tablet', D: 'desktop' }
const deviceType = devices[deviceCode!] || detectedType
// #endregion

// #region - syncInitialState
const isMenuOpen = cookies.get('monado-is-menu-open')?.value === 'true'
const inCinemaMode = cookies.get('monado-in-cinema-mode')?.value === 'true'

const { setCurrentPathname, setIsMenuOpen } = useHydrationStore.getState()

setCurrentPathname(pathname)
setIsMenuOpen(isMenuOpen)
// #endregion
---

<html
	lang='es'
	data-device-type={deviceType}
	data-in-cinema-mode={inCinemaMode}
>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='description' content='Reproductor de video basado en YouTube e YT-DLP hecho con Astro (SSR) y Preact para un rendimiento increible' />
		<title>{title ? `${title} - Monado` : 'Monado'}</title>
		<link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="#181818" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		{ links?.map((link) => <link {...link} />) }
		<script>
			// - Detect device type -

			function setCookie (name: string, value: string, days: number) {
				const date = new Date()
				date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000))
				const expires = `; expires=${date.toUTCString()}`
				document.cookie = `${name}=${value}${expires}; path=/; SameSite=Lax`
			}
			
			function detectDeviceType () {
				const { dataset } = document.documentElement
				const serverDetectedDeviceType = dataset.deviceType

				const devices: Record<string, string> = { M: 'mobile', T: 'tablet', D: 'desktop' }
				const ua = navigator.userAgent
				const mobileRegex = /(Mobi|Android(?!.*Nexus 7)|iPhone|iPod|Windows Phone|BlackBerry|Symbian|IEMobile|Opera Mini|Fennec|webOS|hpwos|avantgo|bada|blazer|compal|elaine|hiptop|kindle|lge|maemo|midp|mmp|netfront|palm|phone|plucker|pocket|psp|series60|treo|up\.browser|up\.link|vodafone|wap|windows ce|xda|xiino)/i
				const tabletRegex = /(iPad|Android(?!.*mobile)|Kindle|Playbook|Silk|Tablet|hpw|webos|Nexus 7)/i

				let deviceCode = 'D'

				if (mobileRegex.test(ua) && !/iPad/i.test(ua)) {
					deviceCode = 'M' // Celular
				} else if (tabletRegex.test(ua)) {
					deviceCode = 'T' // Tablet
				}

				const deviceType = devices[deviceCode]

				// Actualizar deviceType sólo si hay diferencia con el servidor
				if (serverDetectedDeviceType !== deviceType) {
					dataset.deviceType = deviceType
					setCookie('monado-device-type', deviceCode, 30)
				}
			}

			detectDeviceType()
		</script>
		<script>
			// - Update states on page change

			import { useHydrationStore } from '@/stores/useHydrationStore'

			const { setIsMenuOpen, setCurrentPathname } = useHydrationStore.getState()

			function getCookie (cookie: string) {
				return document.cookie
          .split('; ')
					.find((c) => c.startsWith(`${cookie}=`))
					?.split('=')
					?.[1]
			}
			
			// - Cambio de página, especialmente como SPA -
			document.addEventListener('astro:page-load', astroPageLoad)
			document.addEventListener('', astroPageLoad)
			document.addEventListener('astro:page-load', astroPageLoad)
			
			function astroPageLoad () {
				const { dataset } = document.documentElement

				setCurrentPathname(window.location.pathname)

				// isMenuOpen
        const menuCheckbox = document.querySelector('#checkbox-menu-state')
				const isMenuOpen = getCookie('monado-is-menu-open') === 'true'
				
				if (menuCheckbox instanceof HTMLInputElement) {
					menuCheckbox.checked = isMenuOpen
					setIsMenuOpen(isMenuOpen)
				}

				// inCinemaMode
				const inCinemaMode = getCookie('monado-in-cinema-mode') === 'true'
				if (inCinemaMode) dataset.inCinemaMode = 'true'
				else delete dataset.inCinemaMode	
			}

			// - Cambios en página -
			document.addEventListener('change', handleDocumentChange)

			function handleDocumentChange (event: Event) {
				setCurrentPathname(window.location.pathname)

				// isMenuOpen
				const menuCheckbox = event.target
				if (menuCheckbox instanceof HTMLInputElement && menuCheckbox.id === 'checkbox-menu-state') {
					const isMenuOpen = menuCheckbox.checked
					document.cookie = `monado-is-menu-open=${isMenuOpen}; path=/; Secure; SameSite=Strict`
					setIsMenuOpen(isMenuOpen)
				}
			}
		</script>
		{ useTransitions && <ClientRouter /> }
	</head>
	<body class='flex flex-col bg-base-dark'>
		<input id='checkbox-menu-state' type='checkbox' hidden checked={isMenuOpen} />
		<Header />
		<main class='h-full w-full min-h-fit max-h-full pt-14'>
			<slot />
		</main>
		<TabBar
			pathname={pathname}
			hidden={!tabBar}
			transition:animate={'fade'}
			client:load
		/>
	</body>
</html>
